.header{
    height: 45px;
    border-bottom:1px solid #A0A0A0;
    margin-bottom:15px;
}

textarea.keyArea{
    height:100px;
    width: 370px;
}

.panel{
    border:1px solid #A0A0A0;
    width:100%;

    padding:4px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom:15px;
}

.welcome .panel{
    height: 170px;
}
.welcome .panel.login{
    background-color: #e6fff0;
}
.welcome .panel.register{
    background-color: #e6f0ff;
}
.welcome .panel h2{
    text-align: center;
}

.access .panel.list{
    background-color: #e6fff0;
}
.access .panel.add{
    background-color: #e6f0ff;
}

.panel .title{
    font-weight:bold;
    margin-bottom: 6px;
}
.panel .content{
    padding: 8px;
}

.repositories{
    background-color: #e6f0ff;
}

.keys{
    background-color: #e6fff0;
}

.key{
    padding: 3px;
    background-color: #a0ffa0;
    margin-bottom: 3px;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    cursor : pointer;
}

.detailsBtn{
    float:left;
}
.keyBtn{
    float:right;
}
.details{
    display:none;
}

.headerRight{
    text-align: right;
}

.center{
    text-align: center;
}

.full{
    width: 100%;
    overflow: auto;
}