#{extends 'main.html' /}
#{set title:'User info' /}

<div class="span-24 welcome">
    <div class="prepend-5 span-6">
        <div class="panel login">
            <form action="@{Users.changePassword()}" method="post">
                #{authenticityToken /}
                <h2>Change Password</h2>

                <div>
                    <div class="span-2">Password:</div>
                    <div class="span-4 last">
                        <input type="password" name="password"/>
                    </div>
                </div>

                <div class="prepend-2"><input type="submit"/></div>
            </form>
        </div>
        <div class="info center">This will also reset your apikey</div>

    </div>
</div>