#{extends 'main.html' /}
#{set title:'Welcome' /}

<h1>users</h1>
<div class="span-24">
    <div class="span-6">
        <form action="/login" method="post">
            #{authenticityToken /}
            <h2>Login</h2>

            <div>
                <div class="span-2">Username:</div>
                <div class="span-4 last"><input type="text" name="username"/></div>
            </div>
            <div>
                <div class="span-2">Password:</div>
                <div class="span-4 last">
                    <input type="password" name="password"/>
                </div>
            </div>
            <div>
                <div class="span-6">
                    <input type="checkbox" name="remember" id="remember" value="true"/>
                    <label for="remember">Remember me</label>
                </div>
            </div>


            <div class="prepend-2"><input type="submit"/></div>
        </form>
    </div>
    <div class="span-6">
        <form action="/welcome/register" method="post">
            #{authenticityToken /}
            <h2>Register</h2>

            <div>
                <div class="span-2">Username:</div>
                <div class="span-4 last"><input type="text" name="username"/></div>
            </div>
            <div>
                <div class="span-2">Password:</div>
                <div class="span-4 last">
                    <input type="password" name="password"/>
                </div>
            </div>
            <div class="prepend-2"><input type="submit"/></div>
        </form>
    </div>
</div>